
table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.bigband {
    background-color: yellow;
}

.beowulf {
    background-color: grey;
}

#user-space {
    background-color: #DDDDDD;
    border: 1px solid black;
    padding: 5px;
}
